<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example </title>
</head>
<body>
  <h1 style="align-content: center">LOGIN</h1>
  <form th:action="@{/login}" method="post">
    <nav><label> User Name : <input type="text" name="username"/> </label></nav>
    <nav><label> Password: <input type="password" name="password"/> </label></nav>
    <nav><input type="submit" value="Sign In"/></nav>
  </form>
  <nav>
    <p><a th:href="@{/registration}">Registrant</a></p>
  </nav>
</body>
</html>