<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
      <nav>
        <h1 style="align-content: center">ADD NEW USER</h1>
      </nav>
      <form th:action="@{/registration}" method="post">
        <nav><label> User Name : <input type="text" name="username"/> </label></nav>
        <nav><label> Password: <input type="password" name="password"/> </label></nav>
        <nav><input type="submit" value="Sign In"/></nav>
      </form>
      <p th:if="${message != null}">
        <h3 th:text="${message}"></h3>
      </p>
      <p>
          <a th:href="@{/login}">Login</a>
      </p>
</body>
</html>